* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}

header {
    background-color: #ff9999;
    min-height: 150px;
    text-align: center;
    font-size: 50px;
}

main {
    background-color: white ; 
    min-height: 500px;
    display: flex;
    flex-flow: row wrap;
    margin: 25px;
}

main > div:nth-child(1) {
    flex: 0 0 300px;
    background-color: beige;
    margin-right: 25px;
}

div:nth-child(2) {
    flex: 1 0 auto;
    background-color: skyblue;
}

footer {
    background-color: #ffff9f;
    min-height: 200px;
    text-align: center;
}


